<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>462822524496-p1667kebn6atvcaupgcbnpr5edp9pitm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.462822524496-p1667kebn6atvcaupgcbnpr5edp9pitm</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>462822524496-3aa4vfp16fnk1dfdlsjnu3mhj391m5va.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBqDZXXUa1h1V_CwTgNf2WFwDSYziwZqQI</string>
	<key>GCM_SENDER_ID</key>
	<string>462822524496</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ahkam.khaled.ahkam</string>
	<key>PROJECT_ID</key>
	<string>ahkam-app-f334a</string>
	<key>STORAGE_BUCKET</key>
	<string>ahkam-app-f334a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:462822524496:ios:51b3b7cfe274dfdf4df355</string>
</dict>
</plist>